.openCloseComponent{
  position: absolute;
  top: 500px
}
.openCloseCSSComponent{
  position: absolute;
  top: 500px
}

.simo-component{
  position: absolute;
  top: 500px;
  right: 800px;
}

@keyframes anim1{
  from{left:800px;}
  to{left:calc(100vw + 300px);}
}
@keyframes anim2{
  from{left:calc(100vw + 300px);}
  to{left:800px;}
}
.show{
  animation-name: anim1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.hide{
  animation-name: anim2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
